stages:
  - deploy

variables:
  ANSIBLE_HOST_KEY_CHECKING: "False"

deploy:
  stage: deploy
  tags: [shell]
  script:
    - sudo bash -c "docker compose -f "$DOCKER_COMPOSE_PATH" down"
    - cd ansible
    - cat playbook_vars/docker_vars.yml
    - ansible-playbook playbook.yml
  only:
    - main
