stages:
  - build_and_push
  - deploy

build_and_push:
  stage: build_and_push
  tags:
    - docker
  services:
    - docker:dind
  script:
    - echo "Вход в Docker Hub"
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - echo "Сборка и пуш образа"
    - docker build --platform=linux/amd64 -t $DOCKER_IMAGE .
    - docker push $DOCKER_IMAGE
  only:
    - main

# Деплой на сервер
deploy:
  stage: deploy
  tags:
    - shell
  script:
    - echo "Авторизация в Docker Hub"
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - echo "Обновление образа из Docker Hub"
    - sudo bash -c "docker pull $DOCKER_IMAGE"
    - sudo bash -c "cd /root/wallet_project/"
    - echo "Запуск контейнера "
    - sudo bash -c "docker compose down"
    - sudo bash -c "docker compose up -d"
    - sudo bash -c "docker system prune"
  only:
    - main
