stages:
  - build_and_push
  - deploy

build_and_push:
  stage: build_and_push
  tags:
    - docker
  services:
    - docker:dind
  script:
    - echo "Вход в Docker Hub"
    - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
    - echo "Сборка и пуш образа"
    - docker build --platform=linux/amd64 -t $DOCKER_IMAGE:$DOCKER_TAG .
    - docker push $DOCKER_IMAGE:$DOCKER_TAG
  only:
    - main

# Деплой на сервер
deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh sshpass
  script:
    - echo "Подключение к серверу и выполнение деплоя"
    - sshpass -p "$SSH_PASSWORD" ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST "
        docker login -u '$DOCKER_USERNAME' -p '$DOCKER_PASSWORD' &&
        docker pull $DOCKER_IMAGE:$DOCKER_TAG &&
        cd wallet_project/ &&
        docker compose up -d &&
        docker system prune -af --volumes"
  only:
    - main
