stages:
  - build_and_push
  - deploy

build_and_push:
  stage: build_and_push
  tags:
    - docker
  services:
    - docker:dind
  script:
    - echo "Вход в Docker Hub"
    - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
    - echo "Сборка и пуш образа"
    - docker build --platform=linux/amd64 -t $DOCKER_IMAGE .
    - docker push $DOCKER_IMAGE
  only:
    - main

# Деплой на сервер
deploy:
  stage: deploy
  tags:
    - shell
  script:
    - echo "Авторизация в Docker Hub"
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - echo "Обновление образа из Docker Hub"
    - docker pull $DOCKER_IMAGE
    - cd wallet_project/
    - echo "Запуск контейнера"
    - docker compose down
    - docker compose up -d
    - docker system prune
  only:
    - main
