stages:
  - build_and_push
  - deploy

# Сборка и пуш образа в DockerHub
build_and_push_job:
  stage: build_and_push
  tags:
    - shell
  script:
    - echo "Вход в Docker Hub"
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - echo "Сборка и пуш образа"
    - docker build --platform=linux/amd64 -t $DOCKER_IMAGE .
    - docker push $DOCKER_IMAGE
  only:
    - main

## Деплой на сервер
deploy_job:
  stage: deploy
  tags:
    - shell
  script:
    - echo "Авторизация в Docker Hub"
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - echo "Обновление образа из Docker Hub"
    - docker pull $DOCKER_IMAGE
    - echo "Запуск контейнера "
    - sudo bash -c "docker compose -f /root/wallet_project/docker-compose.yml down"
    - sudo bash -c "docker compose -f /root/wallet_project/docker-compose.yml up -d"
    - docker system prune
  only:
    - main
