- hosts: "{{ playbook_host }}"
  vars_files:
    - playbook_vars/docker_vars.yml

  tasks:
    - name: Docker login
      community.docker.docker_login:
        username: "{{ docker_username }}"
        password: "{{ docker_password }}"

    - name: Remove an image
      community.docker.docker_image_remove:
        name: "{{ localhost_docker_image }}"

    - name: Build a docker image
      community.docker.docker_image_build:
        name: "{{ localhost_docker_image }}"
        path: "{{ localhost_dockerfile_path }}"
        platform: "{{ localhost_docker_image_platform }}"

    - name: Push a docker image
      community.docker.docker_image_push:
        name: "{{ localhost_docker_image }}"